{% extends 'base.html' %}
{% block title %}PaddleHeads Roster{% endblock title %}
{% block content %}
	{% for roster in object_list %}
		<div class="card">
			<div class="card-header">
				<a href="{% url 'roster_detail' roster.pk %}"><span class="font-weight-bold">{{ roster.name }}</span></a> &middot;
				<span class="font-weight-bold"># {{ roster.number}} 
			</div>
			<div class="card-body">
				<p>
					<span class="font-weight-bold">Position: </span>
					{{ roster.position }}<br>
					<span class="font-weight-bold">Batting Average: </span>
					{{ roster.batting_average }} <br>
					
				</p>
			</div>
			<p align="right">
				<a href="{% url 'roster_edit' roster.pk %}">Edit Player's Info</a> |  
				<a href="{% url 'roster_delete' roster.pk %}">Delete Player</a>
				</p>
			</div>
			<div class="card-footer">
				{% for comment in roster.comments.all %}
					<p>
						<span class="font-weight-bold">{{ comment.author }} &middot;</span>
						{{ comment }}
					</p>
				{% endfor %}
				</div>
			</div>
			
		<br />
	{% endfor %}
{% endblock content %}
		
			