{% extends 'base.html' %}
{% block title %}PaddleHeads Roster{% endblock title %}
{% block content %}
<br>
<h1 align="center">Missoula PaddleHeads Roster</h1>
	{% for roster in object_list %}

		<div class="card">
			<div class="card-header">
				<span class="font-weight-bold"><p>{{ roster.name }}</span></a> &middot;
				<span class="font-weight-bold"># {{ roster.number}} </p>
			</div>
			<div class="card-body">
				<p3>
					<span class="font-weight-bold">Position: </span>
					{{ roster.position }}<br>
					<span class="font-weight-bold">Batting Average: </span>
					{{ roster.batting_average }}
				<p align="right">
				<a href="{% url 'roster_detail' roster.pk %}">Expand Player Details</p>	
				</p3>
			</div>
			{% if user.is_authenticated %}
			<p align="right">
				<a href="{% url 'roster_edit' roster.pk %}">Edit Player's Info</a> |  
				<a href="{% url 'roster_delete' roster.pk %}">Delete Player</a>
				</p>
			{% endif %}
			</div>
		
			</div>

		<br />
	{% endfor %}
{% endblock content %}
		
			